In [3]:
import pandas as pd
import numpy as np
import sys
import os

from src.models.preprocessing import CleanPreprocess as  cln

# Add project root path
project_root = os.path.abspath("..")
sys.path.append(project_root)

In [4]:
df = pd.read_csv(
	r'D:\AIML\Assignment\Git_repos\SM\Twitter_Sentiment_Classification\data\row.csv',
	encoding="utf-8")

In [5]:
# Check the first few rows of the dataframe
print(df.iloc[:, 5:])

        @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1599994  Just woke up. Having no school is the best fee...
1599995  TheWDB.com - Very cool to hear old Walt interv...
1599996  Are you ready for your MoJo Makeover? Ask me f...
1599997  Happy 38th Birthday to my boo of alll time!!! ...
1599998  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 1 columns]

In [6]:
# Column Names are not proper, so we will print unique values in each column to understand the data better
for column in df.columns:
	print(f"Unique values in column '{column}': {df[column].unique()}")

Unique values in column '0': [0 4]
Unique values in column '1467810369': [1467810672 1467810917 1467811184 ... 2193601991 2193602064 2193602129]
Unique values in column 'Mon Apr 06 22:19:45 PDT 2009': ['Mon Apr 06 22:19:49 PDT 2009' 'Mon Apr 06 22:19:53 PDT 2009'
 'Mon Apr 06 22:19:57 PDT 2009' ... 'Tue Jun 16 08:38:58 PDT 2009'
 'Tue Jun 16 08:39:00 PDT 2009' 'Tue Jun 16 08:40:50 PDT 2009']
Unique values in column 'NO_QUERY': ['NO_QUERY']
Unique values in column '_TheSpecialOne_': ['scotthamilton' 'mattycus' 'ElleCTF' ... 'EvolveTom' 'AmandaMarie1028'
 'bpbabe']
Unique values in column '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D': ["is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"
 '@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'
 'my whole body feels itchy and like its on fire ' ...
 'Are you ready for your MoJo Makeover? Ask me for details '
 'Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur '
 'happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H ']

In [7]:
# From the unique values, we can see that the first column is the sentiment and the last column is the tweet text.
# So, I will rename the columns accordingly.

# Two columns are important in this dataset [0] and [6]

def set_columns_names(dataframe):
    # Get number of columns
    n_cols = len(dataframe.columns)
    
    new_column_names = []
    
    for i in range(n_cols):
        # print(i)
        new_column_names.append(f"col_{i}")
        
    return new_column_names

In [8]:
cols = set_columns_names(df)

In [9]:
# Rename Columns
df.columns = cols

In [10]:
# Get important columns only col_0 and col_5

df = df[['col_0','col_5']]

In [11]:
df.columns = ['lable','twits']

In [12]:
cleaner = cln(df)
df['clean_twits'] = df['twits'].apply(cleaner.clean_text)

In [14]:
df.to_csv('D:\AIML\Assignment\Git_repos\SM\Twitter_Sentiment_Classification\data\clean_text.csv',columns=['lable','clean_twits'],index=False)